@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h1-header { 
  font-family: 'Rampart One', cursive;
  font-size: 130px!important;
  font-weight: bold!important;
}

.navbar {
  background: transparent;
  box-shadow: none;
}

@media (max-width: 991.98px) {
  .navbar-expand-lg .navbar-collapse .buger-menu{
    transform: scale(0.1);
    height: 10px;
    padding-bottom: 10%;
  }
  .h1-header {
    font-size: 60px!important;
  } 
}
@media (max-width: 1199.98px) {
  .h1-header {
    font-size: 80px!important;
  } 
 }

.homepage {
  height:100vh;
  width: 100vw!important;
  min-height:400px;
  background-size:cover;
  background-image:url('./img/road.gif');
  background-position: center!important;
}

.hidden-spacer {
  height: 56px
}

#big-box {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
}

#small-box {
  width: 60%;
  height: 30%;
  font-family: 'Indie Flower', cursive;
}

.peace {
  font-family: 'Lobster', cursive;
}
.roadrage {
  font-family: 'Kosugi Maru', sans-serif;
}
.main-container {
  height:100vh;
  width: 100vw!important;
  min-height:400px;
  /* font-family: 'Indie Flower', cursive; */
}
.main-container .inner-container {
  width: 60%;
  height: 30%;

  /* font-family: 'Indie Flower', cursive; */
}